---
import Content from '~/components/widgets/Content-nogreencheck.astro';
import Layout from '~/layouts/PageLayout.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Hero from '~/components/widgets/Hero.astro';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>


  <!-- Hero Widget ******************* -->

  <Hero
  >
    <Fragment slot="title">
      Our Mission
    </Fragment>

    <Fragment slot="subtitle">
      At Strategic Defense, we've been in the trenches of cybersecurity for years, designing, building, and scaling some of the industry's most notable offensive security 
	practices. We've witnessed firsthand the pitfalls of overworked consultants, where corners are cut, and critical vulnerabilities are missed—leaving organizations with a 
	false sense of security.
    </Fragment>

    </Fragment>
  </Hero>

  <!-- Hero Widget ******************* -->


 <!-- Features2 Widget ************** -->

  <Features2
    title="What Sets Us Apart?"
    subtitle="Our commitment to quality is uncompromising. We believe that true security comes from careful, deliberate work, not from rushing to meet unrealistic utilization targets. Here's what you can expect from us:"
    items={[
      {
        title: 'Expertise You Can Trust',
        description:
          'Our team consists of well-trained professionals who operate far below the industry-standard 300% utilization, ensuring meticulous attention to detail. Some of our experts might even be the authors of your favorite CVEs.',
        icon: 'tabler:clipboard-data',
      },
      {
        title: 'Real-World Methodologies',
        description:
          "We don't rely on scanner checklists. Our approach is rooted in goal-based offensive security testing that mimics the tactics of real-world adversaries.",
        icon: 'tabler:world-bolt',
      },
      {
        title: 'Tailored Threat Models',
        description:
          'We take the time to understand your organization and work through threat models that are relevant to you.',
        icon: 'tabler:app-window',
      },
    {
        title: 'Value-Driven Engagements',  
        description:
          'Our engagements are scoped to deliver maximum value, hitting the sweet spot between thoroughness and efficiency.',
        icon: 'tabler:wand',
      },
    {
        title: 'A Passion for Excellence',  
        description:
          'We take pride in finding critical vulnerabilities that others miss, and we love doing right by our customers.',
        icon: 'tabler:tool',
      },
    {
        title: 'Offense for Your Defense',  
        description:
          'We believe in the power of offense to strengthen defense. By giving your defenders a skilled sparring partner, we help them grow and improve over time, building stronger security from the inside out.',
        icon: 'tabler:shield-check-filled',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- Features Widget *************** -->




<Content
    title="Meet the Team"
    subtitle="Meet the experts behind our success. Our team is composed of seasoned cybersecurity professionals who bring years of experience, specialized knowledge, and a shared commitment to protecting your organization from evolving threats."
    isReversed
    items={[
      {
        description:
          'Shannon is a seasoned leader in the cybersecurity industry bringing with her over two decades in the tech sector. With a strong focus on helping businesses preserve brand integrity, she is dedicated to assisting organizations establish robust security practices with the goal of uninterrupted revenue generation or business operations stemming from cybersecurity incidents. Shannon’s extensive expertise stems from renowned companies such as AMD, Trustwave, Secureworks, IBM, Kudelski Security and as the Founder of Ryze Security.',
      },
    ]}
image={{
      src: '/assets/images/team/shannon.png',
      alt: 'Shannon',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Shannon Garcia
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

<Content
    items={[
      {
        description:
          'Josh has spent the past six years working in cybersecurity at a number of organizations. He spent portions of that time doing manual network and wireless pentesting. He also spent a few years as strategic advisor to companies large and small. More recently, he’s worked to grow his own practice as a tester and advisor. Josh is excited to be a part of Strategic Defense and am eager to partner with organizations to identify and help remediate security gaps. Josh is also proud to hold several certifications including Project Management Professional (PMP), CompTIA Security+, and Offensive Security Wireless Professional.', 
      },
    ]} 
image={{                   
      src: '/assets/images/team/huck.png',                                                                                                                                                              
      alt: 'Joshua Huckaby',
    }}
  >   
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Joshua Huckaby              
      </h3>
    </Fragment>
    
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>   

  <!-- Content Widget **************** -->

<Content
    isReversed
    items={[
      {
        description:
          'Rick enjoys things that rust and run on diesel, and even though we jest that he embodies a modern-day redneck, he seamlessly transitions between constructing loaf sheds for horses and coding or hacking applications. Holding a degree in computer science from Washington State University, Rick boasts three decades of experience in the tech sector. His expertise encompasses coding and spearheading high-performance penetration testing teams, with a dedication to delivering exceptional value to clients and resolving their cybersecurity concerns. Whether tending to his farm on a tractor or pondering ways to enhance client cybersecurity, Rick remains deeply immersed in both worlds.', 
      },
    ]} 
image={{                   
      src: '/assets/images/team/rick.jpg',
      alt: 'Rick Hein',
    }}
  >   
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Rick Hein     
      </h3>
    </Fragment>
    
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>   
  
<Content
    items={[  
      {
        description:
          'Along a 30 year journey in cybersecurity, David has amassed not just an impressive collection of retro conference badges, but also a wealth of experience in leading well-known organizations through prevention, containment, and recovery from significant cyber incidents. David has been a part of some pretty remarkable teams: from contributing to the team that first brought the web browser into existence to rolling out the first firewalls at AT&T Bell Laboratories. After recent leadership roles at IBM Security and DXC Technology, David is now excited to reunite with his colleagues from one of the most esteemed global penetration testing teams. Together, we are dedicated to leveraging elite talent and advanced technologies to tackle our clients’ toughest cyber challenges.',
      },
    ]}  
image={{
      src: '/assets/images/team/langlands.jpg',
      alt: 'David Langlands',
    }}
  >   
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        David Langlands
      </h3>
    </Fragment>
    
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>   

</Layout>
