---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Strategic Defense',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

<Hero
  actions={[
    { text: 'Learn more', href: '#features' },
  ]}
  image={{ src: '/assets/images/colorfulcomputer.webp', alt: 'SD Hero Image', style: "width: 65%; height: auto;" }}
>
  <Fragment slot="title">
    Advanced Adversarial Testing Services Tailored to Any Threat Model
  </Fragment>

  <Fragment slot="subtitle">
    <span class="hidden sm:inline">
      We help you get clear results, find your flaws, and test your security stack.
    </span>
  </Fragment>
</Hero>

  <!-- Note Widget ******************* -->

   <Note />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    title="What you get with Strategic Defense"
    subtitle="Expert-led, goal-based penetration testing services that help keep you one step ahead of the bad guys. All the good stuff, with zero fluff, tailored to the TTPs used by real-world threat actors."
    items={[
  {
    title: 'Tailored Security Solutions',
    description: 'Customized security assessments and strategies designed to meet the specific needs and threat models of your business. Every engagement is tailored to your unique environment, ensuring maximum relevance and effectiveness.',
    icon: 'tabler:shield-lock',
  },
  {
    title: 'Expert-Led Penetration Testing',
    description: 'Penetration tests conducted by seasoned cybersecurity experts who leverage decades of experience to simulate real-world attacks. These tests go beyond automated tools, using advanced tactics to uncover vulnerabilities that others often miss.',
    icon: 'tabler:code',
  },
  {
    title: 'Clear and Actionable Reporting',
    description: 'Detailed reports that not only identify vulnerabilities but also provide clear, prioritized recommendations for remediation. These reports are designed to be easily understood by both technical teams and executive leadership.',
    icon: 'tabler:report',
  },
  {  
    title: 'Ongoing Strategic Advisory',
    description: 'Continuous access to expert advice and strategic guidance as your security needs evolve. This includes helping you navigate the ever-changing threat landscape and ensuring your defenses remain robust.',
    icon: 'tabler:chart-line',
  },
  {
    title: 'Real-World Attack Simulations',
    description: 'Comprehensive attack simulations, including ransomware drills and phishing campaigns, that test your organization’s readiness and resilience. These simulations provide invaluable insights into how your team and systems would perform under real attack conditions.',
    icon: 'tabler:alert-triangle',
  },
  {
    title: 'End-to-End Security Expertise',
    description: 'A holistic approach to security that covers everything from network and application testing to physical and laptop security. Clients benefit from a complete security solution that addresses all potential attack vectors.',
    icon: 'tabler:bulb',
  },
      ]}
  />

  <!-- Content Widget **************** -->
  <Content
    title="Get Strategic"
     items={[
      {
        title: 'Exceeding Compliance Standards',
        description:
          'Our services align with and surpass common compliance requirements, including PCI DSS, HIPAA, and FFIEC, ensuring your organization meets the highest security standards.',
      },
      {
        title: 'Remote Testing Capabilities',
        description:
          'Our experts can deliver comprehensive testing services remotely, ensuring no compromise in quality or effectiveness.',
      },
      {
        title: 'Deep Industry Experience',
        description:
          'With decades of experience in the cybersecurity field, our team has seen and defended against every kind of threat. Our seasoned experts bring a wealth of knowledge and real-world insights to every engagement.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Decades of Expertise: Proven, Tested, and Trusted</h3>
      Unparalleled Expertise and Flexibility to Secure Your Future
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Pioneers in Specialized Testing',
        description: `From IoT devices to vehicle security, our custom testing services cover niche areas that many others overlook. We dive deep into the unique challenges posed by hardware, automotive systems, and beyond.`,
      },
      {
        title: 'Continuous Learning and Adaptation',
        description:
          'In a field where the threat landscape is constantly evolving, our commitment to continuous learning and adaptation ensures that our methods are always at the forefront of cybersecurity.',
      },
      {
        title: 'Custom Solutions for Complex Problems',
        description:
          "No two targets are alike, and we pride ourselves on creating custom solutions that address the specific challenges of your environment, whether it’s in hardware, software, or network security.",
      },
      {
        title: 'Executive Summaries for Strategic Decisions',
        description:
          'Our reports provide not just findings but also in-depth analysis and executive summaries, giving you a complete understanding of your security posture and actionable steps to enhance it.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1600132806370-bf17e65e942f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2194&q=80',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">Innovative Testing, Tailored Solutions, and Strategic Insights for Complex Security Challenges</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>



  <!-- Steps Widget ****************** -->
  
  <Steps
    title="Secure Your Future with Strategic Defense."
    items={[
      {
        title: 'Step 1: <span class="font-medium">Contact Us</span>',
        description:
          "Contact our team to discuss the unique threats and challenges your organization faces. We’re here to understand your situation and prepare for the adversaries you might encounter.",
        icon: 'tabler:phone-check',
      },
      {
        title: 'Step 2: <span class="font-medium">Schedule Your Assessment</span>',
        description:
          "Once we've connected, we'll schedule a focused, adversarial engagement. Pick a time that suits you, and we’ll gear up to simulate real-world attack scenarios against your defenses.",
        icon: 'tabler:calendar-bolt',
      },
      {
        title: 'Step 3: <span class="font-medium">Engage in a Tailored Security Test</span>',
        description:
          'Our experts will execute a customized attack simulation, honing in on your specific threat landscape. This engagement is designed to emulate real-world tactics, exposing vulnerabilities that could be exploited by determined adversaries.',
        icon: 'tabler:target-arrow',
      },
      { 
        title: 'Step 4: <span class="font-medium">Get Clear Results and Recommendations</span>',
        description:
          "After the engagement, you'll receive a clear and detailed report with the results and strategic insights. Our goal is to arm you with the intelligence you need to reinforce your defenses and stay ahead of evolving threats.",
        icon: 'tabler:clipboard-data',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  />

  <!-- Features2 Widget 
************** -->

  <Features2
    id="services"
    title="Offense for your Defense"
    subtitle="Custom Offensive Security Services for any Threat Model"
    items={[
    {
  	title: 'Network Pen Testing',
  	description: "Think your network is secure? Let us find out. We dive deep to uncover hidden vulnerabilities before attackers do.",
  	icon: 'tabler:network',
        link: '/services/network',
    },
    {
  	title: 'Application Security',
  	description: "Your apps are the gateway to your data. We ensure they’re fortified against any intrusion.",
  	icon: 'tabler:app-window',
        link: '/services/web-app',
    },
    {
  	title: 'Wireless Testing',
  	description: "Hidden SSIDs and WPA2 won’t stop us. We’ll ensure your wireless network isn’t an open door.",
  	icon: 'tabler:wifi',
        link: '/services/wireless',
    },
    {
  	title: 'Ransomware Drills',
  	description: "Simulate the nightmare scenario. Our drills test your resilience against ransomware attacks.",
  	icon: 'tabler:virus-off',
        link: '/services/ransomware',
    },
    {
  	title: 'Laptop Security',
  	description: "Think full-disk encryption is enough? We go beyond, testing every inch of your mobile defenses.",
  	icon: 'tabler:device-laptop',
        link: '/services/laptop',
    },
    {
  	title: 'Cloud Security',
  	description: "Your data is in the cloud. We make sure it stays secure, whether on AWS, Azure, or Google Cloud.",
  	icon: 'tabler:cloud-lock',
        link: '/services/cloud',
    },
    {
  	title: 'AI/LLM Testing',
  	description: "Emerging tech needs emerging security. We test AI and LLMs to ensure they’re as secure as they are smart.",
  	icon: 'tabler:robot',
        link: '/services/ai-llm',
    },
    {
  	title: 'Phishing & Social Engineering',
  	description: "Your people are your first line of defense. We test their readiness against the most cunning attacks.",
  	icon: 'tabler:user-check',
        link: '/services/phishing',
    },
    {
  	title: 'Hardware Testing',
  	description: "From IoT to vehicle systems, we ensure your hardware is locked down tight.",
  	icon: 'tabler:device-desktop-analytics',
        link: '/services/hardware',
    },
    {
  	title: 'API Security',
  	description: "APIs are the backbone of your services. We test them thoroughly to prevent data breaches.",
  	icon: 'tabler:api',
        link: '/services/web-api',
    },
    {
  	title: 'Physical Security',
  	description: "Security isn’t just digital. We assess the physical security of your premises to prevent breaches from all angles.",
  	icon: 'tabler:square-key',
        link: '/services/physical',
    },
    {
  	title: 'Security Consulting',
  	description: "Need a strategic partner? Our consulting services help you build a resilient security posture from the ground up.",
  	icon: 'tabler:shield-check',
        link: '/services/cyber-consulting',
    },

    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Read our Blog"
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Answers to Common Questions About Our Cybersecurity Services"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Can you help with emerging technologies like AI and cloud security?',
        description:
          "Yes, we specialize in testing and securing emerging technologies, including AI/LLM and cloud environments. Additionally, we address modern threats like deepfake social engineering, ensuring that your organization is protected against sophisticated attacks that exploit AI-generated content. Our experts stay ahead of the curve, ensuring your cutting-edge systems are fortified against the latest threats.",
      },
      {
        title: 'How often should we conduct security testing?',
        description:
          'We recommend conducting security testing at least annually, or whenever significant changes are made to your systems. Regular testing ensures that your defenses are up to date and effective against evolving threats.',
      },
      {
        title: 'Can you help us with compliance requirements like PCI DSS and HIPAA?',
        description:
          "Absolutely. Our services are designed to align with and exceed compliance standards such as PCI DSS, HIPAA, FFIEC, and others. We provide the necessary documentation and testing to ensure your organization meets all required security benchmarks.",
      },
      {
        title: "What industries do you serve?",
        description:
          "We serve a wide range of industries, including finance, healthcare, manufacturing, technology, and more. Our expertise allows us to adapt our services to the specific challenges and regulatory requirements of each sector.",
      },
      {
        title: 'What makes your approach to cybersecurity different?',
        description:
          "Our decades of experience, combined with our expertise in specialized areas like hardware and vehicle testing, sets us apart. We tailor our testing and consulting services to each client’s unique needs, ensuring testing that goes beyond one-size-fits-all solutions.",
      },
      {
        title: 'What is your methodology for penetration testing?',
        description:
          "We follow industry-leading methodologies like OWASP (Open Web Application Security Project) and PTES (Penetration Testing Execution Standard) to ensure thorough and consistent testing. These frameworks guide our approach, from initial reconnaissance to exploitation and reporting, ensuring that every aspect of your security is evaluated to the highest standards.",
      },
    ]}
  />


  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Get In Touch',
        href: '/contact',
        target: '_blank',
        icon: 'tabler:mail-heart',
      },
    ]}
  >
    <Fragment slot="title">
      Secure Your Future
    </Fragment>

    <Fragment slot="subtitle">
      Contact us now to start building a stronger, more resilient security posture.
    </Fragment>
  </CallToAction>
</Layout>
