---
import { SITE } from 'astrowind:config';
---

<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
  <img
    src="/assets/images/favicon-big.png"
    alt="SD"
    class="inline-block w-6 h-6 md:w-5 md:h-5"
  />
  {SITE?.name}
</span>
